body{
    background-color: #1E243A;
}

p.error{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    background-color: #6AB0E9;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    transition: .25s;
    color: #fff;
}

p.lecItemSplit{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    background-color: #6AB0E9;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    transition: .25s;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}
a.lecItem{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    background-color: #6AB0E9;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    transition: .25s;
    color: #fff;
}

div.lectures{
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    box-sizing: inherit;
    margin: auto auto 1em auto;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin-left: 5em;
    margin-right: 5em;
}

div#weekDay{
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    box-sizing: inherit;
    margin: 0 auto 1em auto;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin-left: 5em;
    margin-right: 5em;
}

span{
    color: blueviolet;
}