:root{
    --fontStyle:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}
/*Background Animation*/
.bgAnimation {
    background: linear-gradient(315deg, #1e243a, #2c3556);
    background-size: 400% 400%;

    -webkit-animation: bgAnimation 60s ease infinite;
    -moz-animation: bgAnimation 60s ease infinite;
    -o-animation: bgAnimation 60s ease infinite;
    animation: bgAnimation 60s ease infinite;
}

@-webkit-keyframes bgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes bgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/*Background Animation END*/

@font-face{
    font-family: SirinStencil-Regular;
    src: url(./assets/font/SirinStencil-Regular.ttf);
}

body{
    background-color: #1E243A
}

p.lecItemSplit, p.lecItem, p.error{
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 18px;
    line-height: 1.75rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    color: #fff
}

p.error{
    cursor: url("./assets/image/cursor16px.png"),default;
    border: 1px solid #fff
}

a{
    text-decoration: none;
    color: #fff
}

div.lectures, header{
    cursor: default;
    font-family: var(--fontStyle);
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-left: 10%;
    margin-right: 10%
}

div.lectures p:last-child{
    border: none
}

header{
    /* padding: 10px; */
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    border: none;
    border-radius: 19px;
    /* background: #1E243A; */
    box-shadow: inset 5px 5px 10px #10131e,
                inset -5px -5px 10px #2c3556
}

span{
    color: #c7c7c7;
    padding: 5px;
    border-radius: 16px;
    background: #1E243A;
    box-shadow: inset 3px 3px 5px #10131e,
                inset -3px -3px 5px #2c3556
}

img#logo{
    width: 75px;
    margin-top: 10px;
    border-radius: 35px;
    box-shadow:  5px 4px 5px #10131e,
                 -5px -4px 5px #2c3556
}

p.weekDay{
    /* WeekDay Font Style */
    font-family: SirinStencil-Regular;
    font-size: 30px;
    font-weight: lighter;
    /* WeekDay Font Style End */
    position: relative;
    z-index: 1;
    border-bottom: none
}

/* Video Banner CSS */
video.video-banner{
    border-radius: 15px;
    box-shadow:  5px 5px 5px #10131e,
                 -5px -5px 5px #2c3556
}
/* Video Banner CSS End */

/* Authuser CSS */

footer ul.authuser{
    padding-inline-start: 0;
    display: flex;
    justify-content: space-around
}

footer ul.authuser li{
    cursor:pointer;
    display: flex;
    width: 3em;
    height: 3em;
    background-color: #c7c7c7;
    color: #1E243A;
    border-radius: 25px
}

footer ul.authuser li p{
    font-size: x-large;
    font-family: var(--fontStyle);
    font-weight: bolder;
    margin: auto auto
}

footer ul.authuser li:active{
    background-color: #10131e;
    color: #c7c7c7
}
/* Authuser CSS End */

/* Arrow CSS */
button {
    background: transparent;
    border: 0;
    outline: 0
  }

.arrow:hover polyline,.arrow:active polyline{
    stroke-width: 6px
}
nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -2.2em;
}
/* Arrow CSS End */

/* Media Query */
@media only screen and (min-width: 414px){
    footer{
        margin: auto auto;
        width: 400px
    }
}

@media only screen and (min-width: 540px){
    nav{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 746px){
    nav{
        margin-left: 10%;
        margin-right: 10%;
    }
}