body{
    background-color: #1E243A;
}

p.error{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    /* background-color: #6AB0E9; */
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    transition: .25s;
    color: #fff;
    border: 1px solid #fff;
    line-height: 1.5;
}

p.lecItemSplit{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    /* background-color: #6AB0E9; */
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    transition: .25s;
    color: #fff;
}

a{
    text-decoration: none;
    color: #e0e0e0;
}
a.lecItem{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    /* background-color: #6AB0E9; */
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    transition: .25s;
    color: #fff;
}

div.lectures{
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: #000000de;
    font-size: 14px;
    box-sizing: inherit;
    margin: auto auto 1em auto;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

div#weekDay{
    text-align: center;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: #000000de;
    font-size: 14px;
    box-sizing: inherit;
    margin: 0 auto 1em auto;
    /* border: 1px solid #e0e0e0;
    border-radius: 2px; */
    overflow: hidden;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    border: none;

    border-radius: 19px;
    background: #1E243A;
    box-shadow: inset 5px 5px 10px #10131e,
                inset -5px -5px 10px #2c3556;

}

span{
    /* color: blueviolet; */
    color: #c7c7c7;
    
    padding: 5px;
    /* margin: 5px; */

    border-radius: 16px;
    background: #1E243A;
    box-shadow: inset 3px 3px 5px #10131e,
                inset -3px -3px 5px #2c3556;
}

img#logo{
    /* text-align: center; */
    width: 75px;
    margin-top: 10px;
    border-radius: 35px;
    box-shadow:  5px 4px 5px #10131e,
                 -5px -4px 5px #2c3556;
}

a.weekDay{
    border-bottom: none;
}